{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
{% comment %}<script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
    selector : "textarea",
    theme : "modern",
    width: '780px',
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    menubar: false,
    toolbar_items_size: 'small',
    language:'zh_CN',
    toolbar1: "undo redo | bold italic underline strikethrough forecolor backcolor | alignleft aligncenter alignright | bullist blockquote link unlink code | pagebreak preview fullscreen | fontselect fontsizeselect",
    content_css : '/static/tinymce/skins/content.min.css'
    });
</script>{% endcomment %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
