{% extends "blog_base.html" %}
{% load comments %}

{% block title %} blog list {% endblock %}

{% block article %}
<article class='content-main'>
    {% for blog in blogs %}
        <h3><a href="{% url blog_show blog.id %}">{{ blog.caption }}</a></h3>
        <p class="muted">
            {% for tag in blog.tags.all %}
                <i class="icon-tag"></i>  <small>{{ tag }}</small>
            {% endfor %}
        </p>
        {% load markup %}
        <div>{{ blog.content|truncatechars:200|markdown:'codehilite' }} </div>
        <h5><a href="{% url blog_show blog.id %}"> 阅读全文 >></a></h5>

        <div class="row-fluid">
            <div class="span3">
                <p class="muted"><i class="icon-time"></i><small> {{ blog.publish_time }}</small></p>
            </div>
            <div class="span2 offset7">
                <a href="{% url blog_del blog.id %}" title="delete"><i class="icon-trash"></i></a>
                <a href="{% url blog_update blog.id %}" title="edit"><i class="icon-edit"></i></a>
                {% get_comment_count for blog as comment_count %}
                <a href="{% url blog_show blog.id %}#cmt" title="comment"><i class=" icon-comment"></i>{{ comment_count }}</a>
            </div>
        </div>
    <hr>
    {% endfor %}
</article>
{% endblock %}

{% block aside %}
    {% block tags %}
        <div class="well">
            {% for tag in tags %}
                <a href="{% url blog_filter tag.id %}">{{ tag }}</a>
                <hr class="soften">
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}