{% extends "base.html" %}

{% block extra_head %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        .row{
            margin-left: 0;
        }
        #mark-prompt li{
            list-style: none outside none;
            padding: 10px 9px 3px 0;
            float: left;
        }
    </style>
    {% block showblogscript %}{% endblock %}
    {% block otherscript %}{% endblock %}
{% endblock %}

{% block header %}
    {% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <span class="brand">古月居</span>
                <ul class="nav">
                    <li class="active divider-vertical">
                        <a href="{% url blog_list %}">
                            <span class="new-wrapper">
                                <i class="nav-home"></i>
                                <i class="nav-new"></i>
                            </span>
                            首页
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="new-wrapper">
                                <i class="nav-me"></i>
                                <i class="nav-new"></i>
                            </span>
                            关于
                        </a>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" data-target="#myModal">
                            <span class="new-wrapper">
                                <i class="nav-people"></i>
                                <i class="nav-new"></i>
                            </span>
                            联系
                        </a>
                </li>
                </ul>
                <div class="pull-right">
                    <form class="navbar-search" method="get" action="{% url blog_search %}">
                        <input type="text" class="search-query" name="search" placeholder="搜索" required="required">
                    </form>

                    <a class="btn offset1" href="https://github.com/huchunxu" role="button">
                        <img src="/static/img/github.png" width="24" height="23" />
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 联系弹出框 -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">联系</h4>
                </div>
                <div class="modal-body">
                    <address>
                        <strong>Email:</strong><br>
                        <a href="mailto:#">hcx196@qq.com</a>
                    </address>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}
{% endblock %}