{% extends "blog_base.html" %}
{% load comments %}

{% block title %} Categoty search: {{ category.category_name }} {% endblock %}

{% block article %}
<article class='content-main'>
    {% for blog in blogs %}
        <h3><a href="{% url blog_show blog.id %}">{{ blog.caption }}</a></h3>
        <div class="row-fluid">
            <div class="span3">
                <p class="muted"><i class="icon-time"></i><small> {{ blog.publish_time|date:"m-d Y H:m:s"  }}</small></p>
            </div>
            <div class="span2 offset7">
                {% get_comment_count for blog as comment_count %}
                <a href="{% url blog_show blog.id %}#cmt" title="comment"><i class=" icon-comment"></i>{{ comment_count }}</a>
            </div>
        </div>
        <hr class="soften">
    {% empty %}
        <p class="text-info">no result!!</p>
    {% endfor %}
</article>
{% endblock %}

{% block aside %}
    <div class="aside">
        <div class="pinned">
            <img src="/static/img/logo.jpg" alt="..." class="img-circle">
            <h1></h1>
            <blockquote>
                <p>怕什么 <strong>真理</strong>无穷，</p>
                <p>进<strong>一步</strong>有一步的<strong>欢喜</strong>。</p>
                <small>胡适</small>
            </blockquote>
            <blockquote>
                <img src="/static/img/category.png" alt="..."> <strong style=" font-size: 20px;">分类</strong></span>
                <table class="table table-hover table-condensed">
                <tbody>
                    <tr class="active"></tr>
                    <td><a href="{% url blog_category category.id %}"><strong style="color:#009ACD;">{{ category }}</strong></a></td>
                </tbody>
                </table>
            </blockquote>
        </div>
    </div>
{% endblock %}