{% extends "blog_list.html" %}
{% load comments %}

{% block title %} tag search: {{ tag.tag_name }} {% endblock %}

{% block article %}
<article class='content-main'>
    {% for blog in blogs %}
        <h3><a href="{% url blog_show blog.id %}">{{ blog.caption }}</a></h3>
        <div class="row-fluid">
            <div class="span6">
                <p class="muted">
                    <i class="icon-time"></i><small> {{ blog.publish_time|date:"m-d Y H:m:s"  }}</small>
                </p>
            </div>
            <div class="span2 offset4">
                {% get_comment_count for blog as comment_count %}
                <a href="{% url blog_show blog.id %}#cmt" title="comment"><i class=" icon-comment"></i>{{ comment_count }}</a>
            </div>
        </div>
        <hr class="soften">
    {% empty %}
        <p class="text-info">no result!!</p>
    {% endfor %}
</article>
{% endblock %}