{% extends 'base.html'%}

{% block title %} {{ blog.caption }} - DannyBlog {% endblock %}
            
{% load comments %}
            
{% block content_body %}
  <div class="main_body">
    <div class="blog_body">
      <div class="blog_title">{{ blog.caption }}</div>
      <div class="blog_info1">
        <span class="blog_info1_list">
          <span class="li_small_1">分类：<a href="#">{{ blog.classification }}</a></span>
          <span class="li_small_1">作者：<a href="#">{{ blog.author }}</a></span>
          <span class="li_small_1">发表时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</span>
        </span>
      </div>
      <div class="blog_splitline"></div>
      <div class="blog_description">{{ blog.content }}</div>
    </div>
            
    <div class="comments">
      <a name="blog_comments" id="comments"></a>
      {% get_comment_count for blog as comment_count %}
      <div class="comments_nav">评论({{ comment_count }})</div>
      {% ifequal comment_count 0 %}
        <div class="comments_body">
          <div class="comment_container">没有评论
        </div>
      {% else %}
        {% get_comment_list for blog as comments %}
        <div class="comments_body">
            {% for comment in comments %}
            <div class="comment_container">
              <div class="comment_id"><a href="{{ comment.user_url }}"><img src="/static/img/hp.jpg" width="42" height="42" /></a></div>
              <div class="cmt_user_info">
                <span class="li_small_2">{{ comment.user_name }}</span>
                <span class="li_small_2">{{ comment.submit_date|date:"Y-m-d H:i"}}</span>
                <span class="reply_comment" id="{{ comment.user_name }}"><a href="#newcomment">回复</a></span>
              </div>
              <div id="comment_content">{{ comment.comment }}</div>
            </div>
            {% endfor %}
      {% endifequal %}
      </div>
            
      <div class="comments_nav">新的评论</div>
      {% get_comment_form for blog as blog_form %}
      <div class="comments_body">
        <div class="comment_form">
          <form class="form-horizontal" action="{% comment_form_target %}" method="post" id="cmt_sub_form">
            {% csrf_token %}
            {{ blog_form.object_pk }}
            {{ blog_form.content_type }}
            {{ blog_form.timestamp }}
            {{ blog_form.site }}
            {{ blog_form.submit_date }}
            {{ blog_form.security_hash }}
            <div class="control-group">
              <label class="control-label" for="id_name">用户名： </label>
              <div class="controls">
                <input type="text" id="id_name" class="input-xlarge" name="name" placeholder="请输入您的用户名" value="{{ user.username }}"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="id_email">E-mail： </label>
              <div class="controls">
                <input class="input-xlarge" id="id_email" type="email" name="email" placeholder="请输入您的邮箱地址" value="{{ user.email }}"/>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="id_email">网址： </label>
              <div class="controls">
                <input class="input-xlarge" id="id_url" type="url" name="url" placeholder="请输入您的网址" value="{{ user.url }}"/>
              </div>
            </div>
            <a name="newcomment" id="newcomment"></a>
            <div class="control-group">
              <label class="control-label" for="id_comment">评论： </label>
              <div class="controls">
                <textarea class="input-xlarge comment" id="id_comment" name="comment" placeholder="请输入评论内容"></textarea>
              </div>
            </div>
            <p style="display:none;"><label for="id_honeypot">如果你在该字段中输入任何内容，你的评论就会被视为垃圾评论。</label> <input type="text" name="honeypot" id="id_honeypot"></p>
            <div class="controls">
              <div class="form-actions">
                <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>
                <input type="hidden" name="next" value="/detail/?id={{ blog.id }}"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}