{% extends 'base.html'%}
{% block title %}DannyBlog{% endblock %}
            
{% block content_body %}
<div class="main_body">
  {% for blog in blogs %}
    <div class="blog_body">
      <div class="blog_title"><a href="/detail/?id={{ blog.id }}">{{ blog.caption }}</a></div>
      <div class="blog_info1">
        <span class="blog_info1_list">
          <span class="li_small_1">分类：<a href="#">{{ blog.classification }}</a></span>
          <span class="li_small_1">发表时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</span>
        </span>
      </div>
      <div class="blog_splitline"></div>
      <div class="blog_description">{{ blog.content }}</div>
      <div class="blog_info2">
        <span class="blog_info2_list">
          <span class="li_small_2">标签：{% for tag in blog.tags.all %}<a href="#">{{ tag.tag_name }}</a>{% endfor %}</span>
        </span>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}